"jax[tpu]==0.3.25" -f https://storage.googleapis.com/jax-releases/libtpu_releases.html
numpy
flax==0.6.2
distrax
icecream
ml_collections
tqdm
wandb
gym[atari]==0.24.0
x-magical
imageio
moviepy
autorom[accept-rom-license]
git+https://github.com/Farama-Foundation/d4rl@master#egg=d4rl